@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@font-face {
  font-family: 'Open Sans Regular';
  src: url(../assets/font/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url(../assets/font/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url(../assets/font/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'Open Sans Light';
  src: url(../assets/font/OpenSans-Light.ttf);
}
body {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 150px;
}

.container {
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
}

.bg {
  background-image: url(../assets/images/bg.jpg);
  background-position-x: right;
  height: 750px;
  position: relative;
}

.header {
  height: 650px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  height: 50px;
}
.menu__logo-img {
  width: 200px;
}
.menu__links {
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 0 10px;
}
.social__item-img {
  width: 35px;
}

.title {
  color: #075db5;
  font: 45px "Open Sans Light", "Calibri", "sans-serif";
  margin: 120px 10px;
}

.boxes {
  display: flex;
  margin: 0 auto;
  width: 90%;
}
.boxes__item {
  border-radius: 3px;
  font: 14px "Open Sans Regular", "Calibri", "sans-serif";
}
.boxes__item--left {
  color: #fff;
}
.boxes__item--right {
  background: #fff;
  color: #666668;
  margin-left: 30px;
  padding: 10px 30px;
}
.boxes__img {
  position: relative;
}
.boxes__desc {
  bottom: 20px;
  margin: 0 30px;
  position: absolute;
}
.boxes__title {
  margin: 20px 0 5px;
}
.boxes__title--left {
  font: 26px "Open Sans Regular", "Calibri", "sans-serif";
}
.boxes__title--right {
  font: 22px "Open Sans Semibold", "Calibri", "sans-serif";
  color: #f9a937;
}
.boxes__btn {
  align-items: center;
  border: 1px solid #f9a937;
  border-radius: 3px;
  color: #f9a937;
  display: flex;
  font: 14px "Open Sans Bold", "Calibri", "sans-serif";
  justify-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 5px 10px 5px 20px;
}

.desc {
  align-items: flex-start;
  color: #666668;
  display: flex;
  font: 20px "Open Sans Regular", "Calibri", "sans-serif";
  justify-content: center;
  margin: 250px auto 0;
  padding-left: 100px;
  width: 90%;
}
.desc__text {
  margin-top: 50px;
  width: 45%;
}
.desc__text-title {
  color: #075db5;
  font: 35px "Open Sans Light", "Calibri", "sans-serif";
  margin-bottom: 30px;
}
.desc__image {
  width: 55%;
}
.desc__image-img {
  width: 100%;
}
