@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@font-face {
  font-family: 'Open Sans Regular';
  src: url(../assets/font/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url(../assets/font/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url(../assets/font/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'Open Sans Light';
  src: url(../assets/font/OpenSans-Light.ttf);
}
body {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 150px;
}

.container {
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
}

.bg {
  background-image: url(../assets/images/bg.jpg);
  background-position-x: right;
  height: 750px;
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  height: 50px;
}
.menu__logo-img {
  width: 200px;
}
.menu__links {
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 0 10px;
}
.social__item-img {
  width: 35px;
}

.title {
  color: #06539b;
  font: 45px "Open Sans Light", "Calibri", "sans-serif";
  margin: 120px 10px;
}

.content {
  margin-top: 150px;
  position: absolute;
}

.boxes {
  display: flex;
  height: 248px;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 950px;
}
.boxes__item {
  border-radius: 5px;
  margin: 0 20px;
}
.boxes__item--img {
  background-image: url(../assets/images/sol.jpg);
  background-position-x: right;
  color: #fff;
  width: 1150px;
  position: relative;
}
.boxes__item--text {
  background: #fff;
  color: #666668;
  font: 14px "Open Sans Regular", "Calibri", "sans-serif";
  margin: 0;
  padding: 10px 30px;
}
.boxes__item-btn {
  align-items: center;
  border: 1px solid #f9a937;
  border-radius: 3px;
  color: #f9a937;
  display: flex;
  font: 14px "Open Sans Bold", "Calibri", "sans-serif";
  justify-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 5px 10px 5px 20px;
}
.boxes__item p {
  margin: 7px 0 0;
}
.boxes__desc {
  bottom: 30px;
  color: #fff;
  font: 14px "Open Sans Regular", "Calibri", "sans-serif";
  margin: 0 30px;
  position: absolute;
}
.boxes__title--img {
  font: 26px "Open Sans Regular", "Calibri", "sans-serif";
  color: #fff;
  margin: 20px 0 10px;
}
.boxes__title--text {
  font: 22px "Open Sans Semibold", "Calibri", "sans-serif";
  color: #f9a937;
  margin: 20px 0 0;
}
