body {
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: 0 150px;
    
    @include MQ($L) {
        margin: 0 100px;
    }

    @include MQ($M) {
        margin: 0 60px;
    }

    @include MQ($S) {
        margin: 0 30px;
    }

    @include MQ(365px) {
        margin: 0 20px;
    }
}

.container {
    position: absolute;
    top: 0;
    width: -webkit-fill-available;
}