.boxes {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    
    @include MQ($S) {
        display: block;
    }

    @include MQ($XL) {
        margin: 0;
    }

    &__item {
        border-radius: 3px;
        font: 14px $font-regular;

        @include MQ($M) {
            font-size: 13px;
        }
        
        &--left {
            color: #fff;
            width: 40%;

            @include MQ($S) {
                margin: auto;
                width: 55%;
            }

            @include MQ(575px) {
                width: 60%;
            }

            @include MQ($XS) {
                width: 75%;
            }
        }
        
        &--right {
            background: #fff;
            color: $tertiary;
            width: 56%;

            @include MQ($S) {
                margin: auto;
                width: 93%;
            }
        }
    }
    
    &__image {
        position: relative;

        &-img {
            width: 100%;
        }
    }

    &__text {
        padding: 14px 30px;

        @include MQ(1260px) {
            padding-top: 10px;
        }
    }
    
    &__desc {
        bottom: 20px;
        margin: 0 30px;
        position: absolute;
        
        @include MQ($M) {
            bottom: 10px;
        }
    }
    
    &__title {
        margin: 20px 0 5px;
        
        &--left {
            font: 26px $font-regular;
            
            @include MQ($XL) {
                font-size: 24px;
            }
            
            @include MQ($L) {
                font-size: 20px;
            }
        }
        
        &--right {
            font: 22px $font-semibold;
            color: $secondary;
            
            @include MQ(1260px) {
                margin-top: 10px;
            }
            
            @include MQ($XL) {
                font-size: 20px;
            }
        }
    }
    
    &__btn {
        align-items: center;
        border: 1px solid $secondary;
        border-radius: 3px;
        color: $secondary;
        display: flex;
        font: 14px $font-bold;
        justify-content: space-between;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 30px;
        padding: 5px 10px 5px 20px;
        
        @include MQ(1260px) {
            margin-top: 20px;
            padding: 3px 10px 3px 20px;
        }
        
        @include MQ($M) {
            margin-top: 10px;
            font-size: 12px;
        }
        
        &-img {
            width: 50px;

            @include MQ($XL) {
                width: 45px;
            }

            @include MQ($M) {
                width: 35px;
            }
        }
    }
}

.desc {
    align-items: flex-start;
    color: $tertiary;
    display: flex;
    font: 20px $font-regular;
    justify-content: center;
    margin: 250px auto 0;
    padding-left: 100px;
    width: 90%;

    @include MQ($XL) {
        font-size: 17px;
    }

    @include MQ($L) {
        margin-top: 200px;
    }

    @include MQ($M) {
        font-size: 15px;
        padding-left: 40px;
    }
    
    @include MQ($S) {
        display: block;
        margin-top: 350px;
        padding: 0;
        width: 70%;
    }
    
    @include MQ($XS) {
        margin-top: 400px;
    }
    
    &__text {
        margin-top: 50px;
        width: 45%;
        
        @include MQ($M) {
            margin-top: 0;
        }
        
        @include MQ($S) {
            width: 100%;
        }
        
        &-title {
            color: $primary;
            font: 35px $font-light;
            margin-bottom: 30px;
            
            @include MQ($XL) {
                font-size: 30px;
                margin-bottom: 20px;
            }
            
            @include MQ($M) {
                font-size: 25px;
                margin-bottom: 15px;
            }
        }
    }

    &__image {
        width: 55%;
        
        @include MQ($S) {
            margin: auto;
            width: 60%;
        }
        
        @include MQ($XS) {
            width: 100%;
        }
        
        &-img {
            width: 100%;
        }
    }
}