.boxes {
    display: flex;
    margin: 0 auto;
    width: 90%;
    // width: 80%; //depende....??

    &__item {
        border-radius: 3px;
        font: 14px $font-regular;
        
        &--left {
            color: #fff;
        }
        
        &--right {
            background: #fff;
            color: $tertiary;
            margin-left: 30px;
            padding: 10px 30px;
        }
    }
    
    &__img {
        position: relative;
    }
    
    &__desc {
        bottom: 20px;
        margin: 0 30px;
        position: absolute;
    }
    
    &__title {
        margin: 20px 0 5px;

        &--left {
            font: 26px $font-regular;
        }
        
        &--right {
            font: 22px $font-semibold;
            color: $secondary;
        }
    }
    
    &__btn {
        align-items: center;
        border: 1px solid $secondary;
        border-radius: 3px;
        color: $secondary;
        display: flex;
        font: 14px $font-bold;
        justify-content: space-between;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 30px;
        padding: 5px 10px 5px 20px;
    }
}

.desc {
    align-items: flex-start;
    color: $tertiary;
    display: flex;
    font: 20px $font-regular;
    justify-content: center;
    margin: 250px auto 0;
    padding-left: 100px;
    width: 90%;

    @include MQ($XL) {
        font-size: 17px;
    }

    @include MQ($M) {
        font-size: 15px;
        padding-left: 40px;
    }
    
    @include MQ($S) {
        display: block;
        padding: 0;
    }
    
    &__text {
        margin-top: 50px;
        width: 45%;
        
        @include MQ($M) {
            margin-top: 0;
        }
        
        @include MQ($S) {
            width: 100%;
        }
        
        &-title {
            color: $primary;
            font: 35px $font-light;
            margin-bottom: 30px;
            
            @include MQ($XL) {
                font-size: 30px;
                margin-bottom: 20px;
            }
            
            @include MQ($M) {
                font-size: 25px;
                margin-bottom: 15px;
            }
        }
    }

    &__image {
        width: 55%;
        
        @include MQ($S) {
            margin: auto;
            width: 60%;
        }
        
        @include MQ($XS) {
            width: 100%;
        }
        
        &-img {
            width: 100%;
        }
    }
}