@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'Open Sans Regular';
  src: url(../assets/font/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url(../assets/font/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(../assets/font/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'Open Sans Light';
  src: url(../assets/font/OpenSans-Light.ttf);
}