.bg {
    background-image: url(../assets/images/bg.jpg);
    background-position-x: right;
    height: 750px;
    position: relative;
    
    @include MQ($XL) {
        background-position-x: center;
    }
    
    @include MQ($L) {
        height: 600px;
    }
    
    @include MQ(400px) {
        height: 550px;
    }
}

.header {
    height: 650px;
    
    @include MQ($L) {
        height: 530px;
    }
    
    @include MQ(400px) {
        height: 480px;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    height: 50px;
    
    &__logo-img {
        width: 200px;
        
        @include MQ($S) {
            width: 180px;
        }
        
        @include MQ($XS) {
            width: 160px;
        }
        
        @include MQ(285px) {
            width: 140px;
        }
    }
    
    &__links {
        display: flex;
        justify-content: center;
    }
}

.social {
    &__item {
        margin: 0 10px;
        
        @include MQ($XS) {
            margin: 0 5px;
        }
        
        @include MQ(285px) {
            margin: 0 2px;
        }
    }
    
    &__svg {
        @include MQ($XS) {
            width: 23px;
        }
        
        @include MQ(285px) {
            width: 20px;
        }
    }
}

.title {
    color: $primary;
    font: 45px $font-light;
    margin: 120px 10px;

    @include MQ($S) {
        font-size: 40px;
    }

    @include MQ(660px) {
        font-size: 35px;
    }

    @include MQ($XS) {
        font-size: 30px;
    }
}