.header {
    background-image: url(../assets/images/bg.jpg);
    height: 590px;
    background-position-x: right;
}

.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 40px 150px 0;
    height: 50px;
    
    &__logo-img {
        width: 200px;
    }
    
    &__links {
        display: flex;
        justify-content: center;
    }
}

.social {
    &__item {
        margin: 0 7px;
        
        &-img {
            width: 35px;
        }
    }
}