.slider {
    background-image: url(../assets/images/bg-chamada-3.png);
    background-position-x: center;
    height: 320px;
    margin-top: -70px;
    padding-top: 50px;
    position: relative;
    
    &__container {
        margin: auto;
        width: 85%;
    }
    
    &__title {
        color: #fff;
        font: 30px $font-light;
        margin: 35px auto 10px;
        width: 85%;
        
        @include MQ($M) {
            font-size: 28px;
        }
        
        @include MQ($S) {
            font-size: 25px;
        }
        
        @include MQ($XS) {
            font-size: 22px;
        }
    }
}

.glide {
    &__track {
        margin: 0 80px;
        
        @include MQ($L) {
            margin: 0 65px;
        }
        
        @include MQ($M) {
            margin: 0 115px;
        }
        
        @include MQ($XS) {
            margin: 0 75px;
        }            
    }
    
    &__slides {
        height: 150px;
        
        @include MQ($XL) {
            height: 120px;            
        }
        
        @include MQ($L) {
            height: 100px;
        }
    }
    
    &__slide {
        background: #fff;
        color: #fff;
        width: 150px;
        
        &:nth-child(odd) {
            background: #000;
            color: #000;
        }
    }
    
    &__arrow {
        border: none !important;
        box-shadow: none !important;
    }

    &__btn {
        width: 25px;
        
        @include MQ($M) {
            width: 20px;
        }
        
        @include MQ($XS) {
            width: 15px;
        }
    }
}