// Fonts
$font-regular: 'Open Sans Regular', 'Calibri', 'sans-serif';
$font-semibold: 'Open Sans Semibold', 'Calibri', 'sans-serif';
$font-bold: 'Open Sans Bold', 'Calibri', 'sans-serif';
$font-light: 'Open Sans Light', 'Calibri', 'sans-serif';

// Colors
$primary: #0354A7;
$secondary: #FFA425;
$tertiary: #666;

// Media Query
@mixin MQ($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

// Sizes
$XS: 480px;
$S: 758px;
$M: 960px;
$L: 1024px;
$XL: 1130px;